.light{
    background-color: #FFF;
}
.dark{
    background-color: #241829;
    color: #FFF;
}
.light .imgLight{
    display: none!important;
}

.bg-img, .dark .bg-img{
    background-image: url('../assets/stages-of-learning-programming-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.dark .bg-img{
    background-image: url('../assets/dark-bg.png') ;
}

*{
    box-sizing: border-box;
}
.bg-img:after {
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: '';
    z-index: 1;
    opacity: .5;
}
.arrow-img-bnr{
    transform: translateX(-50%);
    bottom: 50px!important;
}
#arrow-down { position:absolute; bottom:80px; left:50%; transform: translateX(-50%); z-index:11; background-size:28px 16px; text-indent:-9999px; display:block; -webkit-animation: arrow-img-bnr 2s infinite  normal ease-out; animation: arrow-img-bnr 2s infinite  normal ease-out;
}
@-webkit-keyframes arrow-img-bnr {
0% { bottom:80px; }
50%{ bottom:100px; }
100% { bottom: 80px; }
}
@keyframes arrow-img-bnr {
0% { bottom:80px; }
50%{ bottom:100px; }
100% { bottom: 80px; }
}


.c-img{
    width: initial!important;
    height: initial!important;
}

.custom-brder::after{
    position: absolute;  
    content: '';      
    width: 40px;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
}
.dark .custom-brder::after{
    background-color: rgb(189, 188, 188);
}
.page-title::after{
    width: 100px;
}
.course-title::after,.course-title2::after{
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background-color: #FFF;
}
.course-title2::after{
    background-color: #000;
}
.light .question-title::after{
    background-color: black;
}


@media screen and (max-width: 1199px) {
    .custom-grid-style .grid{
        grid-template-columns: repeat(2, 300px);
        padding: 40px 20px;
    }
}
@media screen and (max-width: 992px) {
    .footer {
        grid-template-columns: repeat(3, 1fr)!important;
        grid-auto-flow: row;
    }
    .custom-grid-style .grid{
        grid-template-columns: repeat(1, 300px);
        padding: 40px 20px;
        width: 60%;
        margin-right: 20px;
    }
    .custom-grid-style .right-sidebar{
        width: 40%;
    }
  }

/* .accordion .overflow-hidden{
    height: 250px!important;
} */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr)!important;
        grid-auto-flow: row;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        grid-template-columns: repeat(1, 1fr)!important;
    }
    .c-col{
        justify-content: center;
        width: 100%!important;
        align-items: center;
    }
    .custom-grid-style{
        flex-direction: column;
    }
    .custom-grid-style .grid{
        grid-template-columns: repeat(1, 420px);
        padding: 40px 10px;
        width: 100%;
        order: 2;
    }
    .custom-grid-style .right-sidebar{
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 420px) {
    .custom-grid-style .grid{
        grid-template-columns: repeat(1, 270px);
        margin: 0;
    }
}