.bg-img{
    background-image: url('../assets/stages-of-learning-programming-1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
*{
    box-sizing: border-box;
}
.bg-img:after {
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: '';
    z-index: 1;
    opacity: .5;
}
.arrow-img-bnr{
    transform: translateX(-50%);
    bottom: 50px!important;
}
#arrow-down { position:absolute; bottom:80px; left:50%; transform: translateX(-50%); z-index:11; background-size:28px 16px; text-indent:-9999px; display:block; -webkit-animation: arrow-img-bnr 2s infinite  normal ease-out; animation: arrow-img-bnr 2s infinite  normal ease-out;
}
@-webkit-keyframes arrow-img-bnr {
0% { bottom:80px; }
50%{ bottom:100px; }
100% { bottom: 80px; }
}
@keyframes arrow-img-bnr {
0% { bottom:80px; }
50%{ bottom:100px; }
100% { bottom: 80px; }
}


.c-img{
    width: initial!important;
    height: initial!important;
}
